.container {
    display: grid;
    height: 100%;
    width: auto;
    grid-template-columns: 4;
    grid-template-rows: 5;
    grid-template-areas:
    "logo logo logo logo"
    "nav nav nav nav"
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
}

h2 {
    color: #000000;
    font-size: 1.5em;
    line-height: 0.5em;
    font-weight: normal;
    font-style: italic;
    font-family: serif;
    text-align: center;
    padding-top: 20px;
}

.pagetitle {
    color: #B8860B;
    margin-top: 50px;
}

.p-page {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    font-family: serif;
    text-align: center;
}

.logo {
    grid-area: logo;
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
    text-align: center;
    font-size: 26px;
}

.logo a {
    text-decoration: none;
}

.logo a:visited{
    color: #000000;
}

.nav {
    grid-area: nav;
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    margin: 0px;
    text-align: center;
}

.nav ul {
    grid-area: nav;
    list-style: none;
    margin: 0px;
    color: #000000;
    padding: 20px;
}

.nav li {
    grid-area: nav;
    display: inline;
    padding: 10px;
}

.nav a {
    grid-area: nav;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-style: bold;
}

.nav a:hover{
    grid-area: nav;
    color:#B8860B;
}

.header {
    grid-area: header;
    color: #ffffff;
    text-align: center;
    background-image: url(../images/headerimage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0px 200px 0px;
    margin: 0px 0px 25px 0px;
}

.main {
    grid-area: main;
    padding: 0px 20px 50px 20px;
}

.img-article {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-undertitle {
    color: #a6a6a6;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.aside {
    grid-area: aside;
    padding: 0px 20px 50px 20px;
}

.img-aboutme {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutme {
   padding: 0px 50px 20px 50px;
}

.footer {
    grid-area: footer;
}

.blog {
    grid-area: blog;
}

.flexblogpost-container {
    display: flex;
    flex-wrap: wrap;
}

.blogpost {
    flex: 1;
    text-align: center;
}

.flexbox-photogallery {
    display: flex;
    flex-wrap: wrap;
}

.flex-childphoto {
    flex: 1;
    padding: 10px;
}

.form {
    text-align: center;
}

@media (min-width: 1024px) {
    .nav li {
        padding: 40px;
    }
    .aside {
        padding: 20px 20px 50px 50px;
    }
    .main {
        padding: 20px 20px 50px 20px;
    }
    .img-article {
        width: 300px;
    }
    .img-aboutme {
        width: 250px;
    }
    .flexbox-article {
        display: flex;
    }
    
    .flex-child {
        flex: 1;
        padding: 20px;
    }
    .aboutme {
        padding: 0px 250px 50px 250px;
    }
}